.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.DisplayContainer {
  flex-grow: 1;
  display: flex;
}

.DisplayContainer ul {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.DisplayContainer li {
  box-sizing: border-box;
  flex: 0 0 25%;
  list-style-type: none;
}

.DisplayContainer button{
  flex: 0 0 100%;
}

.DisplayContainer img {
  width: 100%;
  height: auto;
}